---
layout: default
title: The Pioneer's Plate
published: true
---

<div class="row padding-top-30">
    <div class="post-list col-md-9">
        {% for post in paginator.posts %}
        <div class="box">
            <div class="box-header">
                <p class="post-meta text-center"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%B %-d, %Y" }}</a></p>
                <h3 class="text-center">
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h3>
                
            </div>

            <div class="box-body" itemprop="articleBody">
                <p>
                    {{ post.content }}
                </p>
            </div>
            <div class="share text-center">
                <hr />
                <a class="btn twitter" href="https://twitter.com/intent/tweet?text={{ post.title }}&url={{ site.url }}{{ post.url }}" rel="nofollow" target="_blank" title="Share on Twitter"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
                <a class="btn facebook" href="https://facebook.com/sharer.php?u={{ site.url }}{{ post.url }}" rel="nofollow" target="_blank" title="Share on Facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook</a>
                <a class="btn google" href="https://plus.google.com/share?url={{ site.url }}{{ post.url }}" rel="nofollow" target="_blank" title="Share on Google+"><i class="fa fa-google-plus" aria-hidden="true"></i> Google+</a>
            </div>
        </div>
        {% endfor %}

            <div class="row text-center">
                {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="text-uppercase btn btn-primary margin-right-10"><i class="fa fa-angle-left" aria-hidden="true"></i> Newer</a>
                {% endif %}
                {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="text-uppercase btn btn-primary">Older <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                {% endif %}
            </div>
    </div>
    <div class="col-md-3">
        {% include sidebar.html %}
    </div>
</div>
