<div id="featured-recipes" class="sm-hide">
    <hr />

    <h4>Featured Recipes:</h4>

    <!-- FIRST RECIPE -->
    <div class="show margin-top-20 margin-bottom-20" id="recipe-1">

        <!-- CHANGE HREF="" TO THE RECIPE URL -->
        <a id="RECIPE URL"
           href="http://recipes.chefter.com/g35d1"
           target="_blank">

            <!-- CHANGE SRC="" TO THE RECIPE IMAGE URL -->
            <img class="img-responsive img-rounded"
                 id="RECIPE IMAGE"
                 src="http://s3.amazonaws.com/static-pro-chefter/recipes/images/000/000/240/original/sugartaylornachos.jpg?1471445978">

            <!-- CHANGE RECIPE TITLE BETWEEN THE SPAN TAGs -->
            <span id="RECIPE NAME">
                Sugar Taylor Sauce Nachos
            </span>

        </a>

    </div>

    <!-- SECOND RECIPE -->
    <div class="show margin-top-10 margin-bottom-10" id="recipe-2">

        <!-- CHANGE HREF="" TO THE RECIPE URL -->
        <a id="RECIPE URL"
           href="http://recipes.chefter.com/g3zdm"
           target="_blank">

            <!-- CHANGE SRC="" TO THE RECIPE IMAGE URL -->
            <img class="img-responsive img-rounded"
                 id="RECIPE IMAGE"
                 src="http://s3.amazonaws.com/static-pro-chefter/recipes/images/000/000/226/original/frenchtoast.JPG?1470337164">

            <!-- CHANGE RECIPE TITLE BETWEEN THE SPAN TAGs -->
            <span id="RECIPE NAME">
                Baked Crème Brûlée French Toast
            </span>

        </a>

    </div>

    <!-- THIRD RECIPE -->
    <!-- REPLACE CLASS hide to show -->
    <div class="show margin-top-10 margin-bottom-10" id="recipe-3">

        <!-- CHANGE HREF="" TO THE RECIPE URL -->
        <a id="RECIPE URL"
           href="http://recipes.chefter.com/g3zdk"
           target="_blank">

            <!-- CHANGE SRC="" TO THE RECIPE IMAGE URL -->
            <img class="img-responsive img-rounded"
                 id="RECIPE IMAGE"
                 src="http://s3.amazonaws.com/static-pro-chefter/recipes/images/000/000/225/original/poached_egg.jpg?1470335936">

            <!-- CHANGE RECIPE TITLE BETWEEN THE SPAN TAGs -->
            <span id="RECIPE NAME">
                Creole Poached Eggs with Corn and Scallion Pancakes
            </span>

        </a>

    </div>

    <!-- SECOND RECIPE -->
    <!-- REPLACE CLASS hide to show -->
    <div class="hide margin-top-10 margin-bottom-10" id="recipe-4">

        <!-- CHANGE HREF="" TO THE RECIPE URL -->
        <a id="RECIPE URL"
           href="http://recipes.chefter.com/g35d1"
           target="_blank">

            <!-- CHANGE SRC="" TO THE RECIPE IMAGE URL -->
            <img class="img-responsive img-rounded"
                 id="RECIPE IMAGE"
                 src="http://s3.amazonaws.com/static-pro-chefter/recipes/images/000/000/240/original/sugartaylornachos.jpg?1471445978">

            <!-- CHANGE RECIPE TITLE BETWEEN THE SPAN TAGs -->
            <span id="RECIPE NAME">
                Sugar Taylor Sauce Nachos
            </span>

        </a>

    </div>
</div>
