<footer>
    <div class="hidden-xs padding-bottom-20">
      <span class="text-center margin-bottom-20 text-uppercase small">Keep in touch with us</span>
      <ul class="list-inline footer-secondary">
        <li class="padding-20">
            <a href="https://www.facebook.com/ChefterInc/" target="_blank">
              <i class="fa fa-facebook"></i>
            </a>
        </li>
        <li class="padding-20">
            <a href="https://twitter.com/chefter_atl" target="_blank">
              <i class="fa fa-twitter"></i>
            </a>
        </li>
        <li class="padding-20">
            <a href="https://www.linkedin.com/company/chefter-inc-" target="_blank">
              <i class="fa fa-linkedin"></i>
            </a>
        </li>
        <li class="padding-20">
            <a href="https://www.instagram.com/chefterapp/?hl=en" target="_blank">
              <i class="fa fa-instagram"></i>
            </a>
        </li>    
        <li class="padding-20">
            <a href="https://www.pinterest.com/ChefterApp/" target="_blank">
              <i class="fa fa-pinterest" aria-hidden="true"></i>
            </a>
        </li>    
      </ul>
      <hr>
    </div>
    <ul class="list-inline">
      <li><a href="http://recipes.chefter.com/" class="text-uppercase">Our Recipes</a></li>
      <li><a href="https://itunes.apple.com/app/apple-store/id1083651067?pt=118115216&ct=blog&mt=8" class="text-uppercase">Download iOS</a></li>
      <li><a href="https://dashboard.chefter.com/#/signup" class="text-uppercase">Register as a Chef</a></li>
      <li><a href="https://www.chefter.com/terms/index.html" target="_blank" class="text-uppercase">Terms & Conditions</a></li>
      <li><a href="https://www.chefter.com/privacy/index.html" target="_blank" class="text-uppercase">Privacy Policy</a></li>
    </ul>
    <div class="padding-10 small">
      &copy; 2016 Chefter, Inc. All rights reserved.
    </div>

</footer>

<!-- Javascript -->
<script src="{{ "/bower_components/bootstrap/dist/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/bower_components/sweetalert/dist/sweetalert.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/bower_components/AdminLTE/dist/js/app.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/bower_components/progressbar.js/dist/progressbar.min.js" | prepend: site.baseurl }}"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74772522-5', 'auto');
  ga('send', 'pageview');

</script>

<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(100969560); }catch(e){}</script>
