<a href="https://itunes.apple.com/app/apple-store/id1083651067?pt=118115216&ct={{page.title | url_encode}}&mt=8" target="_blank">
  <img src="{{ "/img/TryFreeChefter_2.jpg" | prepend: site.baseurl }}" class="img-rounded img-responsive" alt="Try Chefter for Free" title="Try Chefter for FREE">
</a>

<hr>

<div class="social">
    <h4>Connect with Us:</h4>
    <ul class="list-inline">
        <li>
            <a href="https://www.facebook.com/TryChefter/" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-square fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        <li>
            <a href="https://twitter.com/chefter_atl" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-square fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/company/chefter-inc-" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-square fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/chefterapp/?hl=en" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-square fa-stack-2x"></i>
                  <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
    </ul>
</div>

<hr>

<div class="newsletter">
    <h4>Join our Newsletter:</h4>
    <div id="mc_embed_signup">
    <form action="//chefter.us11.list-manage.com/subscribe/post?u=62c3d3ceb11547e356971343d&amp;id=6639ed9573" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <div class="input-group">
            <input type="email" value="" name="EMAIL" class="required email form-control" placeholder="Email Address" id="mce-EMAIL">
            <span class="input-group-btn">
              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
            </span>
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d3086bca885b559d354f1c4f5_32ce02e0ef" tabindex="-1" value=""></div>
        </div>
    </form>
    </div>
</div>

<hr />

<p class="subtitle">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">to our <i class="fa fa-rss-square"
                                                                                            aria-hidden="true"></i>
    RSS</a></p>
