<div class="box margin-top-20 padding-10" id="madison">
    <div class="box-body">
        <div class="row">
            <div class="col-md-2">
                <img src="{{ "/img/madison.png" | prepend: site.baseurl }}" class="img-rounded img-responsive margin-top-10" alt="Madison" title="Madison">
            </div>

            <div class="col-md-10">
                <h4 class="strong">About Madison D'Angelo</h4>
                <p>
                    I’m Madison, a cultural anthropologist, amateur chef and full-time foodie. I grew up in the South with a big family of food lovers and a healthy appetite. I brought my love of food with me to college where I was forced to get creative more often than not. At first, my love of food and career as an anthropologist seemed fairly unrelated but as time has gone on, I’ve come to understand food as a window to culture. I hope to share my love of all things food, history, culture and tech with you!
                </p>
            </div>
        </div>

    </div>
</div>